/*===== GENERAL STYLES =====*/

.main-heading {
	color: #FFF;
}

body {
	background-color: rgba(0, 0, 0, 0.9);
}

.nav-tabs li {
	border: 1px solid #EEE;
}

.nav-tabs li.active {
	border: none;
}

.reset-button {
	margin-bottom: 1rem;
	display: inline-block;
}

#attempts-left {
	color: #FFF;
	font-size: 2rem;
}

.random-color {
	display: inline-block;
	margin: 2rem;
}

.box-wrapper {
	background-color: #000;
	padding: 1rem;
	text-align: center;
}

.box {
	border: 1px solid #FFF;
	height: 15rem;
	width: 15rem;
	background-color: #FFF;
	margin: 5rem;
	-webkit-transition: height 0.5, width 0.5;
	-moz-transition: height 0.5, width 0.5;
	transition: height 0.5, width 0.5;
	cursor: pointer;
}

/*===== TRANSITION STYLES =====*/

.box {
    position: relative;
    z-index: 0;
    transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
}

.box:hover {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
    z-index: 10;
}
